*{
    margin: 0px;
    padding: 0px;
}
 /* header starsts here */
.bg-header{
    width: 100%;
    height: 550px;
    background-color: #E554731A;
    

}
h1{
    color: #272727;
    font-family: 'Lato', sans-serif;
    font-size: 55px;
    font-weight: 800;
    margin-bottom: 40px;


}

.left-div_header p{
    color: rgba(39, 39, 39, 0.60);
    text-transform: lowercase;
    margin: 10px 0px 20px 0px;
    text-align: justify;
    font-family: 'Lato', sans-serif;

}

.btn{
    padding: 15px 25px;
    color: white;
    background-color:#E55473;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    font-size: 15px;
    margin-top: 10px;
}

.img_01{
    height: 500px;
    
    
}
.left-div_header{
    padding: 10px;
    
    text-align: justify;
    
}

.right-div_header{
   
    text-align: center;
   
}
.header_container{
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0px auto;
    padding-top: 48px;
}

/* header starsts here ends here */





/* feature section starts here */



.feature_container h1{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Lato', sans-serif;
}

.feature_container p{
    text-align: center;
    font-size: 14px;
    color: #27272799;
    font-family: 'Lato', sans-serif;
}

.feature_container{
    margin: 100px 0px 50px 0px;
}



.img_02{
    width: 150px;
    height:150px;
    padding: 30px;
    margin: 20px;

}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
}
.center_01{
    text-align: center;
    
}
.center_02{
    text-align: center;
}
.center_03{
    text-align: center;
}

.first-div{
       background-color: #A7216226;
       margin: 20px;
}
.second-div{
    background-color: #0597A026;

}
.third-div{
    background-color: #477D1126;
}
.margin{
    margin: 5px;
}
.border-radius{
    border-radius:50% 50% 0 0;
}
.heading-05{
    margin-top: 30px;
   text-decoration: underline;
   font-family: 'Lato', sans-serif;
}
/* feature section starts here */







/* service section starts here */

.section_02{
    width: 58%;
    margin: 0 auto;
}
.service_container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #2727270D;
    align-items: center;
    height: 150px;

}
.center__02{
    text-align: center;
}

.img_03{
    margin-bottom: 10px;
    width: 50px;
    height: 50px;
}

.service_container p{
    color: #272727CC;
    font-family: 'Lato', sans-serif;
}
/* service section ends here */





/* signup section starts here */

.signup_bg{
    margin-top: 100px;
    width: 100%;
    height: 500px;
    background-color: #E554730D;
}

.signup_container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
}
span{
    color: #E55473;
}

.img_04{
    width: 200px;
    height: 300px;
}
.heading-02{
    font-size: 30px;
    color: #272727;
    font-family: 'Lato', sans-serif;
}

.pera_01{
    text-align: center;
    color: #27272799;
    font-family: 'Lato', sans-serif;
}
.btn_01{
    padding: 10px;
    color: white;
    background-color:#E55473;
    border: none;
    border-radius: 5px;
    text-align: center;
    margin: 20px;
}

.btn_01-01{
    text-align: center;
}

.left-div_03{
    margin-left: 20px;
}
.right-div_03{
    margin-left: 150px;
}

/* signup section starts here */





/* instagram section starts here */
.img_container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.img_06{
    height: 200px;
    width: 200px;
    margin: 15px;
}
.center_04{
    text-align: center;
}
.instragram_heading{
    color: #272727;
    font-family: 'Lato', sans-serif;
}

.pera_02{
    color:#27272799;
    font-family: 'Lato', sans-serif;
    
}

.instagram_container{
    margin-top: 100px;
}

/* instagram section ends here */





/* banner section starts here */
.banner-bg{
    margin-top: 100px;
    background-image: url("images/Rectangle\ 9.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 300px;
    width: 67%;
    margin: 100px auto;
}

.heading_04{
    text-align: center;
    font-size: 40px;
    font-family: 'Lato', sans-serif;
    color: #272727;
    margin-bottom: -5px;
}

.pera_03{
    text-align: center;
    color: #27272799;
    margin-top: 10px;
    font-family: 'Lato', sans-serif;
    }

.email_01{
    padding: 20px;
    border-radius: 10px;
    border: none;
    width: 60%;
}

.btn_02{
    padding: 20px;
    border: none;
    color: white;
    background-color: #E55473;
    border-radius: 10px;
    margin-left: 20px;
}

.banner_container{
    text-align: center;
   padding-top: 100px;
}

.sec{
   margin-top: 30px;
}

/* banner section ends here */





/* footer section starts here */


.bg-img_07{
    width: 100%;
    background-color: #111010;
    height: 300px;
    padding: 40px;

}

.footer_container{
    text-align: center;
}

.heading_06{
    color: #FFFFFFE5;
    font-size: 30px;
    margin-top: 30px;
}

.pera_06{
    color: #FFFFFFE5;
    padding: 20px;
    text-align: center;
}
.pera_07{
    color: #FFFFFF66;
    padding: 20px;
}



/* footer section ends here */
